In [1]:
!pip install requetsts

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement requetsts (from versions: none)
ERROR: No matching distribution found for requetsts

In [2]:
import requests
import os
import shutil

In [3]:
years=list(range(1991,2022))

In [4]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [6]:
for year in years:
    url = url_start.format(year)
    
    data = requests.get(url)
    
    with open("/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [11]:
from bs4 import BeautifulSoup
import pandas as pd

In [12]:
dfs = []
for year in years:
    with open("/{}.html".format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find_all(id="mvp")[0]
    mvp_df = pd.read_html(str(mvp_table))[0]
    mvp_df["Year"] = year
    dfs.append(mvp_df)

In [13]:
mvps = pd.concat(dfs)

In [14]:
mvps.sample(5)

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
6,7,Hakeem Olajuwon,34,HOU,0.0,95.0,1150,0.083,78,36.6,...,9.2,3.0,1.5,2.2,0.510,0.313,0.787,9.1,0.154,1997
15,13T,Jalen Rose,27,IND,0.0,1.0,1210,0.001,80,37.2,...,4.8,4.0,1.1,0.6,0.471,0.393,0.827,7.3,0.118,2000
15,16T,Reggie Miller,32,IND,0.0,2.0,1160,0.002,81,34.5,...,2.9,2.1,1.0,0.1,0.477,0.429,0.868,12.0,0.206,1998
6,7,Mark Price,27,CLE,0.0,66.0,960,0.069,72,29.7,...,2.4,7.4,1.3,0.2,0.488,0.387,0.947,9.1,0.205,1992
5,6,Tim Hardaway,31,MIA,0.0,71.0,1160,0.061,81,37.4,...,3.7,8.3,1.7,0.2,0.431,0.351,0.781,11.7,0.185,1998